#real{
  padding-top: 50px;
  padding-bottom: 100px;
}
.real__title {
  font-family: Inter;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  color: #18191F;
  max-width: 445px;
  margin: 0;
  position: relative;
}
.real__title::before{
  content: "";
  position: absolute;
  width: 143px;
  height: 120px;
  left: -97px;
  top: -53px;
  right: 0;
  background-repeat: no-repeat;
  background-image: url('../../img/marc.svg');
}
.real__sup-text{
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: #18191F;  
  margin: 0;
}
.real__block{
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
  border-radius: 8px; 
  width: 350px;
  padding: 104px 32px 96px 64px;
  margin-left: 95px; 
  margin-top: 24px;
  position: relative;
}
.real__inner-text{
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: #000000;
  margin: 0;
  margin-bottom: 24px;
  position: relative;
}
.real__name {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  color: #18191F; 
  margin: 0; 
  position: relative;
}
.real__inner-text::before{
  content: "";
  width: 16px;
  height: 14px;
  opacity: 0.3;
  left: -22px;
  right: 0;
  position: absolute;
  background-repeat: no-repeat;
  background-image: url('../../img/icn.svg');
}
.real__block::before{
  content: "";
  position: absolute;
  width: 120px;
  height: 120px;
  top: 0;
  left: 64px;
  right: 0;
  background-repeat: no-repeat;
  background-image: url('../../img/bloc1.png');
}
.real__job {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #969BAB;
  opacity: 0.8;
}
.block--first{
  padding: 104px 32px 14px 64px;
  margin-bottom: 32px;
  margin-left: 25px;
}
.block--second{
  padding: 104px 32px 32px 32px;
  margin-left: 25px;
}
.inter--text-second{
  margin-left: 32px;
}
.real__container{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
@media screen and (max-width:991px) {
  .real__container{
    text-align:center;
  }
  .real__block{
    margin-left: 0;
  }
  .real__elements{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
